@model SysCandidato.Models.AccessBE.ForgotPasswordModel
<h3>Será enviado um código de redefinição de senha ao seu e-mail</h3>
<hr />
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form asp-controller="Home" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="Email" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" />
                    <br />
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>