@model SysCandidato.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>
<hr />
    <div class="form-group form-center" >
        <form asp-action="Login" class="form-group align-items-center" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Usuário</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Senha</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Acessar" class="btn btn-primary" />              
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>

<div>
    <a asp-controller="Home" asp-action="ForgotPassword">Esqueci minha senha</a>
</div>
