@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Usuário inserido com sucesso!</h2>

    <a class="btn btn-primary" asp-controller="Vagas" asp-action="Index">Voltar</a>
}
