@model PessoasModel

@{
    ViewData["Title"] = "Adicionar Candidatos";
}


<h3>Cadastro de candidato para a vaga @VagasModel.GetVagaById(Model.IdVaga).Descricao</h3>

<form asp-action="AdicionarCandidatos" method="post">
    <input type="hidden" asp-for="IdVaga" />
    <div class="form-group">
        <label asp-for="Nome" class="col-form-label"></label>
        <input asp-for="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Sobrenome" class="col-form-label"></label>
        <input asp-for="Sobrenome" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CPF" class="col-form-label"></label>
        <input asp-for="CPF" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DataNascimento" class="col-form-label"></label>
        <input asp-for="DataNascimento" class="form-control" />
    </div>

    <input type="submit" value="Adicionar" class="btn btn-success" />
    <input type="submit" asp-action="Index" value="Voltar" class="btn" />
</form>



